.fieldsRequired {
   background-color: #F8D7DA;
   font-size: 15px;
   margin-bottom: 15px;
   padding: 10px;
   border-radius: 10px;
}

.instruction {
   color: #666666;
   font-size: 15px;
   margin: 5px;
}

.instruction span {
   display: block;
}

.dialogScroll {
   overflow: auto;
   height: 90vh;
   width: 90vh;
}