/* -------------------------------------------------- */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   appearance: none;
}

body {
   font-family: "Afacad", sans-serif;
   background-color: #FFFFFF;
}
/* -------------------------------------------------- */



/* --------------------- HEADER --------------------- */
header {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #272727;
   padding: 20px;
}

header img {
   width: 50%;
   height: 50%;
   margin-right: 10px;
}

header h1 {
   color: #FFFFFF;
   font-size: 24px;
   margin: 0;
   letter-spacing: 15px;
   font-family: "Lato", sans-serif;
}

.link {
   text-decoration: none;
}
/* -------------------------------------------------- */



/* --------------------- FOOTER --------------------- */
.footer {
   background-color: #272727;
   padding: 30px;
   z-index: 100000;
}

.footer .socialMedia {
   text-align: center;
   padding-bottom: 20px;
   color: #4B4C4D;
}

.footer .socialMedia a {
   background-color: #FFFFFF;
   font-size: 25px;
   color: inherit;
   border: 1px solid #AAAAAA;
   
   width: 40px;
   height: 40px;
   line-height: 38px;
   
   display: inline-block;
   text-align: center;
   border-radius: 50%;
   margin: 0 10px;
   opacity: 0.80;
}

.footer .socialMedia a:hover {
   opacity: 0.5;
   background-color: #FFFFFF;
}

.footer .copyright {
   margin-top: 15px;
   color: #AAAAAA;
   text-align: center;
   font-size: 13px;
}
/* -------------------------------------------------- */



/* ---------------------- LOGIN --------------------- */
.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   min-height: calc(100vh - 2 * 250px);
}

.login-form {
   background-color: #EEEEEE;
   width: 50%;
   height: 50%;
   padding: 30px;
   border: none;
   border-radius: 5px;
}

.input-field {
   padding: 50px;
   margin-bottom: 15px;
   border: none;
}

.input-label {
   display: block;
   margin-bottom: 10px;
   text-transform: uppercase;
}

.input-text {
   width: 100%;
   padding: 10px;
   border: none;
   border-radius: 5px;
}

.checkbox {
   margin: 10px;
   vertical-align: middle;
}

.submit-button {
   padding: 10px;
   background-color: #007bff;
   color: #FFFFFF;
   border: none;
   border-radius: 5px;
   cursor: pointer;

   display: flex;
   align-items: center;
   justify-content: center;

   gap: 10px;
}

.submit-button img {
   width: 15px;
}

.warning-message {
   background-color: #F8D7DA;
   justify-content: center;
   padding: 10px;
   margin: 10px;
   border-radius: 5px;
   animation: zoom-in-zoom-out 2s ease infinite;
   
   display: flex;
   align-items: center;
   justify-content: center;
}

@keyframes zoom-in-zoom-out {
   0%    { transform: scale(1, 1);     }
   50%   { transform: scale(1.1, 1.1); }
   100%  { transform: scale(1, 1);     }
}
/* -------------------------------------------------- */



/* ------------------- NAVIGATION ------------------- */
.navigation-tables-container {
   background-color: #4B4C4D;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.navigation-tables-container a {
   background-color: #EEEEEE;
   color: #4B4C4D;
   margin: 15px;
   padding: 10px;
   border-radius: 10px;
   text-decoration: none;

   display: flex;
   align-items: center;
   justify-content: center;

   gap: 10px;
}

.navigation-tables-container a img {
   width: 15px;
}

.navigation-tables-container .navigation-tables-div:hover {
   opacity: 0.9;
   background-color: #AAAAAA;
}

.welcome-container {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   min-height: calc(100vh - 2 * 250px);
   text-transform: uppercase;
   letter-spacing: 10px;
}

.logout-button {
   padding: 10px;
   margin-left: 100px;
   background-color: #007bff;
   color: #FFFFFF;
   border: none;
   border-radius: 5px;
   cursor: pointer;

   display: flex;
   align-items: center;
   justify-content: center;

   gap: 10px;
}

.navigation-tables-container img {
   width: 15px;
}
/* -------------------------------------------------- */



/* ---------------------- FORM ----------------------- */
.instruction {
   color: #666666;
   font-size: 15px;
   margin: 5px;
}

.instruction span {
   display: block;
}

.alert-message {
   background-color: #F8D7DA;
   font-size: 15px;
   margin-bottom: 15px;
   padding: 10px;
   border-radius: 10px;
}

.dialogScroll {
   overflow: auto;
   height: 90vh;
   width: 90vh;
}
/* -------------------------------------------------- */


/* ----------------- LOGIN MESSAGE ------------------ */
.message-test-container {
   background-color: #EEF7FF;
   font-size: 15px;
   color: #4B4C4D;
   border-radius: 5px;
   margin-bottom: 10px;
   padding: 10px;
   font-family: "Poiret One", sans-serif;
}

.font-style {
   font-family: "Montserrat", sans-serif;
}

.message-test-container div {
   margin-bottom: 5px;
}
/* -------------------------------------------------- */



/* ------------------- NOT FOUND  -------------------- */
.notFoundContainer {
   min-height: calc(100vh - 2 * 250px);

   display: flex;
   align-items: center;
   justify-content: center;

   flex-direction: column;
   gap: 50px;
}
/* -------------------------------------------------- */



/* ---------------- TABLE --------------------------- */
.table-top {
   width: 50%;
   margin: auto;
   padding: 15px;
}

.table-top button {
   width: 100%;
   background-color: #007bff;
   color: #FFFFFF;
   border: none;
   border-radius: 5px;
   cursor: pointer;

   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.table-top button img {
   width: 15px;
}

.table-top input {
   width: 100%;
}


.table-container {
   display: flex;
   padding: 10px;
   width: 100%;
   margin: auto;
}

.table-container caption {
   background-color: #272727;
   color: #EEEEEE;

   font-size: 24px;
   letter-spacing: 15px;
   font-family: "Lato", sans-serif;

   padding: 10px;
   line-height: 50px;
}
 
.table-container table {
   border: 1px solid #272727;
}

.table-container th {
   white-space: nowrap;
   text-align: center;
   background-color: #FFE8C8;
   color: #4B4C4D;
   height: 100px;
   border: 1px solid #AAAAAA;
}
 
.table-container td {
   padding: 10px;
   text-align: center;
   border: 1px solid #AAAAAA;
}

.table-container td button {
   width: 75px;
   border: none;
   border-radius: 5px;
   cursor: pointer;

   display: inline-block;
   align-items: center;
   justify-content: center;
   margin: 0px 10px;
}

.table-container td button img {
   width: 15px;
}

.update-button {
   background-color: #FEB941;
}

.delete-button {
   background-color: #EE4E4E;
}

.table-container td .wrap {
   overflow-wrap: break-word;
   word-wrap: break-word;
   -ms-word-break: break-all;
   word-break: break-all;
   word-break: break-word;
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
}
/* -------------------------------------------------- */



/* ----------------- PAGINATION --------------------- */
.pagination-container {
   display: flex;
   align-items: center;
   justify-content: center;

   gap: 15px;
   padding: 15px;
}

.pagination-container div button {
   background-color: #4B4C4D;
   border-radius: 50px;
}

.pagination-container div button img {
   width: 15px;
}
/* -------------------------------------------------- */



/* ----------------- DETAILED PAGE ------------------ */
.page-detailed-title, h3 {
   background-color: #272727;
   color: #EEEEEE;

   font-size: 24px;
   letter-spacing: 15px;
   font-family: "Lato", sans-serif;

   padding: 10px;
   line-height: 50px;

   display: flex;
   align-items: center;
   justify-content: center;
}

h3 {
   background-color: #303030;
}

.page-detailed-info {
   margin: 25px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}
/* -------------------------------------------------- */




/* ----------------- CONFRIM FORM ------------------- */
h2 {
   background-color: #272727;
   color: #EEEEEE;
   border-radius: 5px;

   font-size: 20px;
   letter-spacing: 10px;
   font-family: "Lato", sans-serif;

   padding: 10px;
   line-height: 50px;

   display: flex;
   align-items: center;
   justify-content: center;
}

.confirmation-buttons {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.confirm-button {
   background-color: #799351;
   border: none;
   border-radius: 5px;
}

.cancel-button {
   background-color: #EE4E4E;
   border: none;
   border-radius: 5px;
}
/* -------------------------------------------------- */