.fieldsRequired {
   background-color: #F8D7DA;
   line-height: 50px;
   border-radius: 10px;
   margin-bottom: 10px;
}

.instruction {
   font-size: 12px;
   color: #666;
   margin-top: 5px;
}

.dialogScroll {
   overflow: auto;
   height: 90vh;
   width: 90vh;
}